<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.ClazzMapper">

    
    <resultMap id="getClazzByIdResultMap" type="com.atguigu.bean.Clazz">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="stus" column="id"
                    select="com.atguigu.mapper.StudentMapper.getStusByClazzId"/>
    </resultMap>
    <select id="getClazzById" resultMap="getClazzByIdResultMap">
        select * from t_clazz where id=#{id}
    </select>

</mapper>